<div class="container" id="Loginready">
    <div class="card card-container">
        <img id="profile-img" src="images/splashlogo.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email" id="inputEmail" ng-model="email" class="form-control" placeholder="Email address" required autofocus>
            <input type="password" id="inputPassword" ng-model="Password" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block btn-signin" ng-click="CallFunction()" type="submit">Sign in</button>
            <center><div id="loadingText"></div></center>
        </form>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="css/login.css">
<link rel="stylesheet" type="text/css" href="css/index.css">


